body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    display: flex;
}

nav ul li {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    transition: color 0.4s ease, transform 0.5s ease;
}

nav ul li:hover a {
    color: #ffffff;
    transform: translateY(-5px) scale(1.2); /* Enlarge and move text up slightly on hover */
}


main {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-section, .additional-categories {
    display: flex;
    justify-content: center;
    gap: 40px; /* Adjust the gap to increase spacing */
    margin-bottom: 40px;
    flex-wrap: wrap;
}

.category-card {
    width: 250px; /* Fixed width */
    height: 150px; /* Fixed height */
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    position: relative;
    overflow: hidden;
}

.category-card img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.category-card h2 {
    font-size: 1.5em;
    color: #fff;
    position: relative;
    z-index: 1;
    background-color: rgba(0, 0, 0, 0.352);
    padding: 10px;
    border-radius: 10px;
}

.category-card:hover {
    transform: scale(1.1);
    box-shadow: 0 16px 32px rgba(0, 0, 0, 0.443);
}

.scrolling-banner {
    background-color: #fff;
    padding: 10px;
    margin: 20px 0;
    width: 1020px;
    height: 200px;
    max-height: 350px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
}

.banner-article {
    flex: 1;
    margin: 0 10px;
    text-align: center;
    text-decoration: none;
    color: inherit;
    background-color: #ebebeb97;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.banner-article img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

.banner-article:hover {
    transform:  scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.banner-article h3 {
    font-size: 1.5em;
    color: #333;
}

footer {
    background-color: #000000;
    padding: 15px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 1em;
}
