body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 15px 30px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

.logo {
    font-size: 1.8em;
    font-weight: bold;
    color: #fff;
}

nav ul {
    list-style: none;
    margin: 5px;
    padding: 0px;
    display: flex;
}

nav ul li {
    margin: 0 20px;
    display: flex;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    font-size: 21px;
    color: #fff;
    font-weight: bold;
    transition: color 0.4s ease, transform 0.5s ease;
}

nav ul li:hover a {
    color: #ffffff;
    transform: translateY(-5px) scale(1.2); /* Enlarge and move text up slightly on hover */
}


main {
    padding: 80px 20px 20px 20px;
    display: flex;
    justify-content: center;
}

.content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section {
    background-color: #ffffff;
    padding: 40px 20px; /* Increased padding to move it down */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 100%;
    max-width: 600px;
    margin-top: 60px; /* Added margin to move it down */
}

.contact-section h1 {
    margin: 20px 0;
}

.contact-section p {
    margin: 20px 0;
    font-size: 1.1em;
    line-height: 1.6;
}

.contact-section form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.contact-section label {
    font-weight: bold;
}

contact-section input,
.contact-section textarea {
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
}

.contact-section button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.contact-section button:hover {
    background-color: #444;
}

footer {
    background-color: #000000;
    padding: 15px;
    text-align: center;
    color: #fff;
}

footer p {
    margin: 0;
    font-size: 1em;
}
