.content {
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the start (left) */
    user-select: none; /* Prevents text selection */
}

.dynamic-heading {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-left: 80px;
    margin-top: 50px;
}

.dynamic-heading-cell {
    font-weight: bold;
    color: #fff;
    font-size: 1.4em;
    text-align: left;
    width: 420px;
    height: 40px;
    background-color: #333;
    border: 1px solid #ccc;
    border-bottom: 0px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.dynamic-heading-cell:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.dynamic-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.dynamic-cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

button {
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}

.dynamic-cell {
    font-weight: bold;
    width: 200px;
    height: 150px;
    background-color: #9b9b9b33;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-size: cover; /* Ensure background image covers the cell */
    background-position: center; /* Center the background image */
    position: relative; /* Position relative for overlay text */
    color: #000000; /* Ensure text is visible on images */
    cursor: pointer; /* Ensure cursor is pointer */
    overflow: hidden; /* Hide overflow for contained elements */
}

.product-image {
    position:relative;
    max-width: 100%; /* Ensure the image fits within the cell */
    max-height: 80%; /* Ensure the image fits within the cell */
    object-fit: contain; /* Ensure the image is contained within the cell */
    bottom: 15%;
}

.product-name {
    color:#000000;
    position: absolute;
    bottom: 5px;
    background-color: rgba(0, 0, 0, 0.185); /* Semi-transparent background for text */
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1em; /* Adjust font size if needed */
    width: calc(80%); /* Adjust width to fit within the cell */
}

.dynamic-cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Back cell */

.back-cell {
    font-weight: bold;
    margin-left: 80px;
    margin-right: auto;
    width: 40px;
    height: 20px;
    background-color: #9b9b9bea;
    border: 1px solid #ccc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    margin-bottom: 20px;
}

.back-cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.back-cell:active {
    transform: translateY(0);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}