<!DOCTYPE html>
<html>
  <head>
    <title>My Website</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='finance.css') }}">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
      $(document).ready(function() {
        $('.article-title').click(function() {
          var articleId = $(this).data('id');
          $('.article-details').hide();
          $('#article-' + articleId).show();
        });
      });
    </script>
  </head>
  <body>
    <div class="topbar"></div>
    <div class="rectangle1">
      <ul>
        <li><a href="#">HOME</a></li>
        <li><a href="#">FINANCE</a></li>
        <li><a href="#">TECH</a></li>
        <li><a href="#">ABOUT</a></li>
        <li><a href="#">ACCOUNT</a></li>
      </ul>
      <div class="rectangle2"></div>
    </div>
    <div class="main-container">
      <div class="article-container">
        {% for article in articles %}
        <div class="article-title" data-id="{{ article.id }}">{{ article.title }}</div>
        {% endfor %}
      </div>
      <div class="data-container">
        {% for article in articles %}
        <div id="article-{{ article.id }}" class="article-details" style="display: none;">
          <h2>{{ article.title }}</h2>
          <h3>{{ article.source }}</h3>
          <a href="{{ article.url }}" target="_blank">Read the original article</a>
          <p>{{ article.summary }}</p>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="bottom-bar"></div>
  </body>
</html>
